## 1.Write a Python to say "Hello, World!"

In [1]:
if __name__ == '__main__':
    print("Hello, World!")

Hello, World!

---

## 2.Given an integer, , perform the following conditional actions:
- If n is **odd**, print `Weird`
- If n is **even and in the inclusive range of 2 to 5**, print `Not Weird`
- If n is **even and in the inclusive range of 6 to 20** , print `Weird`
- If n is **even and greater than 20** , print Not `Weird`

**Input Format:** A single line containing a positive integer, .

**Constraints :** 1<=n<=100

**Output Format:** Print `Weird` if the number is weird. Otherwise, print `Not Weird`.

#### Sample Input 0 : 3
#### Sample Output 0: Weird
#### Explanation 0 : n=3 , n is odd and odd numbers are weird, so print Weird.

#### Sample Input 1 : 24
#### Sample Output 1: Not Weird
#### Explanation 1 : n>20 and n is even, so it is not weird.

In [2]:
import math
import os
import random
import re
import sys

if __name__ == '__main__':
    n = int(input().strip())
if n%2==1 or 6<=n<=20:
    print("Weird")
else:
    print("Not Weird")

 15

Weird

---

## 3.Perform Arithmetic Operations

The provided code stub reads two integers from STDIN,  and . Add code to print three lines where:
- The first line contains the sum of the two numbers.
- The second line contains the difference of the two numbers (first - second).
- The third line contains the product of the two numbers.

**Example**: 
- a = 3
- b = 5

**Output**:

8

-2

15

**Input Format:**
- The first line contains the first integer, .
- The second line contains the second integer, .

**Constraints:**

1<a<10^10

1<b<10^10

**Output Format**

Print the three lines as explained above.

In [3]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    
    print(a+b)
    print(a-b)
    print(a*b)

 3
 5

8
-2
15

---

## 4.Divison and Floor Division

The provided code stub reads two integers,  and , from STDIN.
- Add logic to print two lines. The first line should contain the result of integer division,  // . The second line should contain the result of float division,  / .
- No rounding or formatting is necessary.

**Example:**

a=3

b=5

- The result of the integer division 3//5=0
- The result of the integer division 3/5=0.6

**Print:**

0

0.6

**Input Format:**
- The first line contains the first integer, .
- The second line contains the second integer, .

**Output Format:**
Print the two lines as described above.

In [5]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    
    print(a//b)
    print(a/b)

 4
 3

1
1.3333333333333333

---

## 5.Loops

The provided code stub reads an integer, n, from STDIN.
For all non-negative integers i < n, print i².

**Example:**

n = 3
- The list of non-negative integers that are less than n = 3 is [0, 1, 2].
- Print the square of each number on a separate line.

0
1
4

**Input Format:**

The first and only line contains the integer, n.

**Constraints:**

1 ≤ n ≤ 20

**Output Format:**

Print n lines, one corresponding to each i.

In [6]:
if __name__ == '__main__':
    n = int(input())
    
    for i in range(n):
        print(i*i)

 5

0
1
4
9
16

---

## 6.Write a Function

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

- The year can be evenly divided by 4 → it is a leap year, unless:
    - The year can be evenly divided by 100 → then it is NOT a leap year, unless:
        - The year is also evenly divisible by 400 → then it is a leap year.

This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while years like 1800, 1900, 2100, 2200, 2300, 2500 are not leap years.

**Task:**

- Given a year, determine whether it is a leap year.If it is a leap year, return True; otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

**Input Format:**

Read **year**, the year to test.

**Constarint:**

1900<=year<=10^5

**Output Format:**

Return a Boolean value: True if the year is a leap year, otherwise False.

In [7]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if year%400==0:
        leap = True
    elif year%100==0:
        leap = False
    elif year%4==0:
        leap = True
    else:
        leap = False
    
    return leap

year = int(input())
print(is_leap(year))

 1900

False

**Explaination:**

1990 is not a multiple of 4 hence it's not a leap year.

---

## 7.Print a Function

The included code stub will read an integer, n, from STDIN.

Without using any string methods, try to print the following:
123…n

Note that "…" represents the consecutive values in between.

**Example:**

n = 5

Print the string 12345.

**Input Format:**

The first line contains an integer n.

**Constraints:**

1 ≤ n ≤ 150

**Output Format:**

Print the list of integers from 1 through n as a string, without spaces.

In [8]:
if __name__ == '__main__':
    n = int(input())
    
    for i in range(1,n+1):
        print(str(i),end="")

 5

12345